*{
  margin: 0;
  pointer-events: none;
}

html, body{
  height: 100vh;
  width: 100%;
}

body{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  transition: background-color 1s;
  background: #0B0B0C;
  overflow: hidden;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  background-color: 0;
  position: relative;
  border: 3px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(1px);
  transition: border 0.2s;
}

#box{
  position: relative;
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.900);
  background-color: #0B0B0C;
  transition: border 0.2s;
}

#coin{
  display: flex; 
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  position: absolute;
  display: none;
  cursor: pointer;
}

#time{
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 50px;
  transition: color 0.2s;
}

#lifeContainer{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#hearts{
  text-align: center;
  background-size: cover;
  background-position: center;
}

p, li{
  color: rgba(255, 255, 255, 0.9);
  font-family: "Lucida Console", monospace;
  text-align: center;
}


/* MOBILE PORTRAIT */
@media screen and (max-width: 480px) {
  #container{
    height: 200px;
    width: 250px;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
  }

  p{
    font-size: 40px;
  }

  .faller{
    height: 50px;
    width: 50px;
  }

  .loadingIcon{
    height: 80px;
    width: 80px;
  }

  .gameTitle{
    font-size: 3em;
  }

  .startBtn{
    height: 80px;
    width: 200px;
  }

  .instructions{
    height: 5%;
    bottom: -1%;
    right: -2.5%;
  }
}

/* TABLET PORTRAIT */
@media screen and (min-width: 480px) and (max-width: 768px) {
  #container{
    height: 300px;
    width: 500px;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
  }

  p{
    font-size: 40px;
  }

  .faller{
    height: 50px;
    width: 50px;
  }

  .loadingIcon{
    height: 85px;
    width: 85px;
  }

  .gameTitle{
    font-size: 4.3em;
  }

  .startBtn{
    height: 100px;
    width: 240px;
  }

  .instructions{
    height: 7%;
    bottom: -2.8%;
    right: -2.8%;
  }
}

/* TABLET LANDSCAPE */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #container{
    height: 300px;
    width: 500px;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
  }

  p{
    font-size: 40px;
  }

  .faller{
    height: 70px;
    width: 70px;
  }

  .loadingIcon{
    height: 100px;
    width: 100px;
  }

  .gameTitle{
    font-size: 5em;
  }

  .startBtn{
    height: 100px;
    width: 250px;
  }

  .instructions{
    height: 7%;
    right: -2.8%;
    bottom: -2%;
  }
}

/* DESKTOP */
@media all and (min-width: 1024px) {
  #container{
    height: 400px;
    width: 650px;
    padding: 20px 20px 20px 20px;
    border-radius: 50px;
  }

  p{
    font-size: 65px;
  }

  .faller{
    height: 70px;
    width: 70px;
  }

  .loadingIcon{
    height: 100px;
    width: 100px;
  }

  .gameTitle{
    font-size: 6.5em;
  }

  .startBtn{
    height: 150px;
    width: 350px;
  }

  .instructions{
    height: 10%;
    bottom: -2.5%;
    right: -1.5%;
  }
}